<div class="search">
  <mat-form-field *ngIf="breeds" appearance="outline">
    <mat-label>Select breed</mat-label>
    <mat-select
      [(ngModel)]="searchSelection.breed"
      (selectionChange)="setBreed()"
    >
      <mat-option [value]="''">All </mat-option>
      <mat-option *ngFor="let breed of breeds" [value]="breed.id">{{
        breed.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="categories" appearance="outline">
    <mat-label>Select category</mat-label>
    <mat-select
      [(ngModel)]="searchSelection.category"
      (selectionChange)="setCategory()"
    >
      <mat-option [value]="''">All </mat-option>
      <mat-option *ngFor="let category of categories" [value]="category.id"
        >{{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
