<div class="search">
  <mat-form-field *ngIf="breeds" appearance="outline">
    <mat-label>Select breed</mat-label>
    <mat-select>
      <mat-option *ngFor="let breed of breeds" [value]="breed.name">{{
        breed.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="categories" appearance="outline">
    <mat-label>Select category</mat-label>
    <mat-select>
      <mat-option *ngFor="let category of categories" [value]="category.name"
        >{{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
