@import "./styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@mixin center() {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.center {
  @include center();
  z-index: 3;
}

.shadow {
  box-shadow: $shadow;
  border: 1px solid #eaeaea;
}

.wrapper {
  padding: 40px 20px;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $dark;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: $dark;
}

.mat-form-field {
  width: 20%;
  margin-right: 20px;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}
